@font-face{
font-family:'DroidSans';
src: url('/fonts/DroidSans.ttf') format('truetype');
}

@font-face{
font-family:'DroidSansIt';
src: url('/fonts/DroidSansBI.ttf') format('truetype');
}



body{
	font-family: "DroidSans", "Liberation Serif", Georgia, Serif, "Liberation Sans", Arial;
	font-size:12px;
	background-color: #fff;
	background-image: url(../flickr.gif);
}

tbody{
	font-size: 12px;
	font-family: "DroidSans", Georgia, "Liberation Serif", Georgia, Serif, "Liberation Sans", Arial;
}



h1{
	font-family: DroidSansIt,serif;
	font-size:1.75em;
	color: #F2583E;
		
	line-height: 20px;
}

a {
	color:#F2583E;
	font-style: oblique;
	text-decoration:none;
}

a:hover {
	color:#c2281e;
}

.cell{
	width: 390px;
	margin-bottom: 12px;
	padding: 5px 10px 15px 10px;

	 /* special */
	 -moz-border-radius: 3px;
	 border-radius: 3px;


	 -moz-box-shadow: 0px 2px 3px #bbb;
	 -webkit-box-shadow: 0px 2px 3px #bbb;
	 box-shadow: 0px 2px 3px #bbb;

	 /* For IE 8 */
	 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bbbbbb')";

	 /* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bbbbbbb');




	border-width: 1px;
	border-style: solid;
	border-color: #cacaca;
	/*display: inline-block;*/

	background-color:#ffffff;
background:  url("../imgs/shade.png") repeat-x bottom left, url("../imgs/shadeTop.png") repeat-x top left, #ffffff;


}


.cell h1{
color: #0E0E0E;
       font-size: 1.75em;
       font-family: "DroidSansIt", serif;
       /*font-style: italic;*/
       font-variant: normal;
       /* font-weight: bold; */
       line-height: 75%;
       word-spacing: normal;
       letter-spacing: -2px;
       text-decoration: none;
       text-transform: lowercase;
       text-align: center;
       text-indent: 0.0ex;
}

.cell p{
	text-indent: 5px;
color:#2B3E42;
      text-align: justify;
}

.cell p.sign{
	text-align:right;  
color: #747E80;
}

.cell p.quote{
color:#2B3E42;
      font-style: oblique;
}

.mail{
width: 150px;
height:12px;
background: url("../imgs/email.gif") no-repeat top left;

}
